<div class="product-detail">
  <span class="close-modal icon-close" (click)="closeModal()"></span>

  <div class="carousel-container" >
    <div class="carousel-list" >
      <img class="carousel-item"  [src]="product?.img" alt="Imagen ">
    </div>
  </div>
  <div class="content-info">
    <div class="content-info-data">
      <h1>{{ product?.nombre | titlecase }} </h1>
      <p class="description">{{ product?.detalle }}</p>
      <p class="price"> {{ formatPrice(product?.valor) }}</p>
    </div>

    <div class="bnt-payment">
      <button class="btn-general "><em class="icon-shopping-cart"></em>Añadir al carrito</button>
      <button class="btn-general "><em class="icon-coin"></em> Comparar Ahora</button>
    </div>
  </div>
</div>
