.wrapper-main-register {
  display: flex;
  width: 100dvw;
  height: 100dvh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-content-login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, .15);
    display: flex;
    align-items: center;
    justify-content: center;

    .content-login {
      display: flex;
      width: 900px;
      height: 500px;
      border-radius: 24px;
      backdrop-filter: blur(6px);
      background-color: rgba(0, 0, 0, .2);

      .content-login-left {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 100%;
        border-radius: 24px 120px 120px 24px;
        background-color: rgba(120, 120, 120, .2);

        img {
          width: 260px;
          height: 260px;
          object-fit: cover;
          animation: mover 5s linear infinite;
        }
      }

      .content-login-right {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        width: 500px;
        height: 100%;

        .login-right--top {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          width: calc(100% - 40px);
          height: 40px;
          padding: 20px;

          button {
            width: 100px;
            height: 30px;
            border: none;
            outline: none;
            font-size: 16px;
            cursor: pointer;
            font-weight: 500;
            color: whitesmoke;
            border-radius: 12px;
            background-color: #2c2c2c;

            &:last-child {
              background-color: rgba(34, 54, 110, 0.4);

              &:hover {
                background-color: rgba(34, 54, 110, 0.4);
                transition: all linear .25s;
              }
            }
          }
        }

        .login-right--center {
          width: calc(100% - 40px);
          padding: 20px;

          form {
            width: 100%;

            .form-group {
              .form-label {
                color: whitesmoke;
                font-size: 16px;
                margin-bottom: 4px;

                em {
                  font-size: 18px;
                }
              }

              input {
                color: whitesmoke;
                border-radius: 8px;
                padding: 2px 8px;
                border: 1px solid rgba(255, 255, 255, 0.4);
                background-color: transparent;
              }
            }

            .btn-login {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;

              span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 140px;
                height: 40px;
                color: whitesmoke;
                border-radius: 12px;
                background-color: rgba(0, 0, 0, .4);
                transition: all linear .25s;

                &:hover {
                  cursor: pointer;
                  backdrop-filter: blur(6px);
                  background-color: rgba(34, 54, 110, 0.4);
                  transition: all linear .25s;
                }
              }

            }
          }
        }

        .login-right--bottom {
          width: calc(100% - 40px);
          padding: 20px;

          span {
            display: flex;
            width: 100%;
            text-align: center;
            color: whitesmoke;
            font-weight: 600;
          }
        }

      }

    }

  }
}

@keyframes mover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

