<div class="wrapper-login" >
  <div class="login-container">
    <div class="login-form">
      <h1>Comenzar sesión</h1>
      <form class="grid" [formGroup]="formLogin" (ngSubmit)="sendFormLogin()">
        <div class="col-12">
          <div class="form-container">
            <div class="form-group">
              <label class="form-label"><em class="icon-user"></em> Correo</label>
              <input class="form-input"  appValidateErrors type="text" placeholder="Ingrese su correo" formControlName="email">
              <span class="form-line"></span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-container">
            <div class="form-group">
              <label class="form-label"><em class="icon-padlock"></em> Contraseña</label>
              <input class="form-input" type="password" appValidateErrors placeholder="Ingrese su contraseña" formControlName="password">
              <span class="form-line"></span>
            </div>
          </div>
        </div>
        <div class="content-btn-redirect-register">
          <span class="login-btn-register" (click)="register()" type="submit">Crear una cuenta </span>
        </div>
        <button class="btn-general" type="submit">Ingresar</button>
      </form>
    </div>
    <div class="login-image">
      <img src="assets/images/auth/shop.gif" alt="Imagen de inicio de sesión">
    </div>
  </div>
</div>
