<div class="login-container">
  <div class="login-wrapper">
    <img src="assets/images/login.jpg" alt="Login Image" class="login-image">
    <form [formGroup]="formLogin" (ngSubmit)="sendFormLogin()">
      <h2>Bienvenido</h2>


      <div class="col-12 ">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label">Correo</label>
            <input class="form-input" placeholder="Ingresa el correo" formControlName="email">
          </div>
        </div>
      </div>

      <div class="col-12 ">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label">Contraseña</label>
            <input class="form-input" placeholder="Ingresa la contraseña" formControlName="password">
          </div>
        </div>
      </div>
      <a href="" class="forgot-password">Olvidaste tu contraseña?</a>
      <button type="submit">Iniciar sesión</button>
      <p>o continua con:</p>
      <div class="social-login">
        <button type="button" class="social-btn google">G</button>
        <button type="button" class="social-btn facebook">f</button>
        <button type="button" class="social-btn twitter">X</button>
      </div>

    </form>
  </div>
</div>
