<div class="card">
  <span class="close-modal icon-close" (click)="closeModal()"></span>

  <div class="content-form">

    <div class="title">
      <span *ngIf="!showTitle">Agregar producto</span>
      <span *ngIf="showTitle">Editar producto</span>
    </div>
    <form [formGroup]=formProduct >
      <div class="col-12 ">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label">Nombre</label>
            <input class="form-input" appValidateErrors placeholder="Ingresa el nombre" formControlName="title">
          </div>
        </div>
      </div>
      <div class="col-12 ">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label">Precio</label>
            <input class="form-input" appInputMask="integer" appValidateErrors  placeholder="Ingresa el precio" formControlName="price">
          </div>
        </div>
      </div>
      <div class="col-12 ">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label">Descripción</label>
            <textarea class="form-input-2"  appValidateErrors  placeholder="Ingresa una descripción" formControlName="description" ></textarea>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label"> Categoria</label>
            <ng-select [items]="categories"
                       bindValue="id"
                       bindLabel="name"
                       class="custom-two form-ng-select"
                       formControlName="categoryId"
                       appValidateErrors
                       placeholder="Seleccione una opción"
                       [searchable]="false">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-12 ">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label">Url de la imagen</label>
            <button class="icon-arrow-circle-right plus-icon" ></button>
            <input class="form-input input-plus" (change)="pushImages()" appValidateErrors placeholder="Ingrese la url de la imagen" formControlName="images" >
          </div>
        </div>
      </div>

      <button *ngIf="!showTitle" class="btn-general" (click)="sendFormProduct()">Guardar</button>
      <button *ngIf="showTitle" class="btn-general" (click)="sendFormProduct()">Editar</button>
    </form>
  </div>


  <div class="col-12 show-img">
    <span>Imagenes:</span>
    @for (item of images; track item) {
      <div class="content-img">
        <em class="icon-trash icon-absolute" (click)="deleteImage($index)"></em>
        <img ngSrc="{{item}}" alt="" width="260" height="250" >
      </div>
    }
  </div>



</div>

