<div class="card">
  <span class="close-modal icon-close" (click)="closeModal()"></span>

  <div class="content-form">

    <div class="title">
      <span *ngIf="!showTitle">Agregar producto</span>
      <span *ngIf="showTitle">Editar producto</span>
    </div>
    <form [formGroup]=formProduct >
      <div class="col-12 ">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label">Nombre</label>
            <input class="form-input" appValidateErrors placeholder="Ingresa el nombre" formControlName="title">
          </div>
        </div>
      </div>
      <div class="col-12 ">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label">Precio</label>
            <input class="form-input" appInputMask="integer" appValidateErrors  placeholder="Ingresa el precio" formControlName="price">
          </div>
        </div>
      </div>
      <div class="col-12 ">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label">Descripción</label>
            <textarea class="form-input-2"  appValidateErrors  placeholder="Ingresa una descripción" formControlName="description" ></textarea>
          </div>
        </div>
      </div>

      <div class="col-12 ">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label">Url de la imagen</label>
            <input class="form-input input-plus" appValidateErrors placeholder="Ingrese la url de la imagen" formControlName="images" >
          </div>
        </div>
      </div>

      <button *ngIf="!showTitle" class="btn-general" (click)="sendFormProduct()">Guardar</button>
      <button *ngIf="showTitle" class="btn-general" (click)="sendFormProduct()">Editar</button>
    </form>
  </div>

</div>

