<div class="wrapper-home">

  <div class="header">
    <span class="icon-power" (click)="logOut()"> </span>
    <img ngSrc="assets/images/logo-1.png" alt="" height="50" width="50">
    <span routerLink="/admin" class="icon-cogs-f"> </span>
  </div>

  <div class="search-container">
    <div class="content-search">
      <em class="icon-search" (click)="searchProducts()"></em>
      <input type="text" (keyup.enter)="searchProducts()" [(ngModel)]="searchTerm" placeholder="Buscar...">
    </div>
  </div>


  <div class="product-list">
    <div class="card" *ngFor="let product of products">
      <div class="profile-pic">
        <em class="icon-heart"></em>
        <img [src]="product.img" alt="{{product.valor}}"/>
      </div>
      <div class="details">
        <div class="content">
          <h2>{{ product.nombre | titlecase }}</h2>
          <p class="about">{{ product.detalle }}</p>
        </div>
        <div class="buttons">
          <div class="price">
            <span> {{ formatPrice(product.valor) }}</span>
          </div>
          <a (click)="productDetail(product.id_producto)" class="link"><em class="icon-eye"></em></a>
        </div>
      </div>
    </div>
  </div>

  @if (handlerMenu()) {
    <app-edit-product
      (addedProduct)="addedProduct($event)"
    />
  }


</div>
