<div class="wrapper-admin">
  <div class="bar">
    <div class="images">
      <img routerLink="../home"  src="assets/images/logo-1.png" alt="">
    </div>
    <div class="content-options">
      <span>Productos</span>
<!--      <span>Categoria</span>-->
    </div>
  </div>
  <div class="content-admin">
    <div class="header-table">
      <span>Lista de productos</span>
      <button class="btn-general" (click)="addProduct()">Agregar producto</button>
    </div>

    <div class="table-container">

      <table class="customers-table">
        <thead>
        <tr>
          <th>Options</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Imagen</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products | paginate: { itemsPerPage: 8, currentPage: page }">
          <td>
            <button><em class="icon-pencil" (click)="editProduct(product.id_producto)"></em></button>
            <button><em class="icon-trash" (click)="deleteProduct(product.id_producto)"></em></button>
          </td>
          <td>{{product.nombre}}</td>
          <td>{{product.detalle}}</td>
          <td>${{product.valor}}</td>
          <td style="text-align: center !important;"><img [src]="product.img" alt="" class="avatar"></td>

        </tr>
        </tbody>
      </table>

      <div class="table-pagination">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>

  </div>

</div>


