<div class="wrapper-admin">
  <div class="bar">
    a
  </div>
  <div class="table-container">
    <table class="customers-table">
      <thead>
      <tr>
        <th>Options</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Imagen</th>
        <th>Categoria</th>
        <th>Fecha de creacion</th>
        <th>Fecha de actualizacion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>
          <button><em class="icon-pencil"></em></button>
          <button><em class="icon-trash"></em></button>
        </td>
        <td>{{product.title}}</td>
        <td>${{product.price}}</td>
        <td><img [src]="product.images" alt="{{product.title}}" class="avatar"></td>
        <td><span >{{product.category.name}}</span></td>
        <td>{{product.creationAt | date: 'dd/MM/yyyy - hh:mm a'}}</td>
        <td>{{product.updatedAt | date: 'dd/MM/yyyy - hh:mm a'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


